.topic-edit-container{
    height:auto;
    width: 10%;
}

.categories-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.category-container {
    width: 15vw;
    height: 20vh;
    position: relative;
    align-content: center;
    flex-direction: column;
    text-align: center;
}



.category-image{
    height: 80%;
}
