.button{
    width: 10vw;
}



.centered-flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.vertical-flex{
    flex-direction: column;
}

.header-text{
    font-size: 3vw;
}