span.thick {
    font-weight: bold;
    display:inline;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.activities-container {
    display: flex;
    flex-wrap: wrap;
}

.activity-container {
    display: flex;
    width: 100vw;
    height: 20vh;
    margin: 5px;
    background-color: green;
    position: relative;
    align-content: center;
}

.inner-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 640px) {
    .activity-container {
        display: flex;
        width: 40vw;
        height: 20vh;
        margin: 5px;
        background-color: green;
        position: relative;
    }
}

@media only screen
and (min-device-width : 640px)
and (max-device-width : 768px) {
    .activity-container {
        display: flex;
        width: 30vw;
        height: 20vh;
        margin: 5px;
        background-color: green;
        position: relative;
    }
}

@media only screen
and (min-device-width : 768px) {
    .activity-container {
        display: flex;
        width: 23vw;
        height: 20vh;
        margin: 5px;
        background-color: blue;
        position: relative;
    }
}

@media only screen
and (min-device-width : 1024px) {
    .activity-container {
        display: flex;
        width: 23vw;
        height: 20vh;
        margin: 5px;
        background-color: blue;
        position: relative;

    }
}

.activity-image{
    width: 100%;
    height: 80%;

}

.image-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
}

.plus-sign{
    height: 100%;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;

}

.curtain-invisible{
    display: none;
}